/*
*
* This file covers all the list of locations
* Rajeshwari Rudravaram <s538361@nwmissouri.edu>
    /

    <% if(locations.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Location ID</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">Location Latitude</th>
                    <th scope="col">Location Longitude</th>
  
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< locations.length; i++) { %>
                    <tr>
                        <th scope="row">
                            <%= locations[i].locationId %>
                        </th>
                        <td>
                            <%= locations[i].locationName%>
                        </td>
                        <td><%= locations[i].locationLatitude%></td>
                        <td><%= locations[i].locationLongitude%></td>

                    </tr>
                    <% } %>
            </tbody>
        </table>
        <% } %>

            <!-- if result is empty -->
            <% if(!locations.length) { %>
                <p class="text-center">No locations found!</p>
                <% } %>

                    <br>
                    <h3>Mouse over icons to see where you will go.</h3>

                    </div>