<nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-2" style="background-color: rgb(19, 88, 42);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <bold>FSA Group4 App</bold>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <em class="fas fa-bars"></em>
        </button>

    </div>
</nav>