
        <header>
            <h1>Full Stack App</h1>

        </header>
        <article>
            <div>
                <div id="container">
                    <div id="status"></div>
                    <div id="status1"></div>
                </div>
            </div>
        </article>
