<header>
    <br>
    <h1>Full Stack App</h1>

</header>
<article>
    <div>
        <div id="container">
            <div id="status"></div>
            <div id="status1"></div>
        </div>
    </div>
</article>

<hr>
<ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
        <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/location'>Locations</a>
    </li>
</ul>