<div class="game-title">
    <br>
    <h1>Tap color to play the game..!</h1>
    <br>
    <br>
</div>

<article>
    <div>
        <div id="container">
            <div id="status">
               
                <div id="targetloc"></div>
                <div id="lbl"><p> Tap to Start the Game..!</p></div>
                <br/>  
                    <div id="device-lat1"></div>
                    <br/>
                    <div id="device-long1"></div>
                    
            </div>
            

            <div id="status1">
                

                <br/>
                    <br/>
                    <div id="location"><p>Check Your Progress...?</p></div>
                    <br/>
                    <div id="error-message"></div>
                    <div id="device-lat"></div>
                     <div id="device-long"></div>
                     
            </div>
        </div>
</article>
<script type="module" src="./scripts/main.js"></script>

<!-- <hr>
<ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
        <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/location'>Locations</a>
    </li> -->
</ul>