<header>
    <br>
    <h1>Full Stack App</h1>

</header>
<article>
    <div>
        <div id="container">
            <div id="status">
                <div id="targetloc"></div>
                <div id="lbl"></div>
                <br/>
                    <div id="device-lat1"></div>
                    <br/>
                    <div id="device-long1"></div>
            </div>
            </div>

            <div id="status1">

                <br/>
                    <br/>
                    <div id="location"></div>
                    <br/>
                    <div id="error-message"></div>
                    <br/>
                    <div id="device-lat"></div>
                    <br/>
                    <div id="device-long"></div>
            </div>
        </div>
</article>
<script type="module" src="./scripts/main.js"></script>
<hr>
<ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
        <a class="nav-link nw hvr-grow-shadow" rel="noopener" href='/location'>Locations</a>
    </li>
</ul>