

header{
  position: absolute;
  left: 41%;
}

.game-title{
  text-align: center;
  padding-top: 20px;
}

article {
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -220px;
  margin-top: -120px;
}


#status {
  height: 200px;
  width: 200px;
  background: rgb(58, 68, 207);
  float: left;
  margin-left: 2px;
  border: 1px solid #ccc;
}

#status1 {
  height: 200px;
  width: 200px;
  background: rgb(160, 199, 197);
  float: left;
    margin-left: 2px;
  border: 1px solid #ccc;
}

#foot{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(9, 145, 81);
  text-align: center

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.foot{
  font-style: normal;
  font-size: large;
  color: aliceblue;
}

.form-group1{
  display: none;
  font-size: small;
  font-style: normal;
  font-weight: bold;
}
.form-group{
  font-size: small;
  font-style: normal;
  font-weight: bold;
}

.image-circle{
  width: 30px;
  height: 30px;
}

.card-header{
  font-size: x-large;
  font-style: normal;
  font-weight: bold;
}